@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins';
}

.app {
    width: 1000px;
    max-width: 80%;
    margin: 0 auto;
}

.heading {
    font-size: 1.8rem;
    margin: 20px 0 40px 0;
}

.container {
    background: linear-gradient(100deg, #cb356b, #bd3f32);
    height: 300px;
    text-align: center;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

form {
    display: flex;
    flex-direction: column;
    justify-items: space-around;
    align-items: center;
}

.container h1 {
    font-size: 1.5rem;
    font-family: 'Poppins';
}

form input {
    padding: 0.4rem;
    border: none;
    outline: none;
    font-size: 1rem;
    width: 390px;
    margin: 8px 0;
    color: coral;
}

button,
a {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'Raleway';
    background: none;
    text-decoration: none;
}

.submitBtn {
    padding: 0.6rem 3rem;
    border: 3px solid #fff;
}

.submitBtn:hover {
    transition: all 0.4s ease-in-out;
    background-color: #0e83cd;
}

.output {
    margin-top: 20px;
}

.site-div {
    height: 60px;
    margin: 2rem 0;
    background-color: rgba(56, 56, 70, 0.911);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #fff;
}

.site-btn {
    justify-self: center;
    border: 2px solid #fff;
    padding: 0.2rem 2rem;
}

.visit-btn {
    background-color: #7678ED;
}

.delete-btn {
    background-color: #a12727;
}

.visit-btn:hover {
    background-color: #fff;
    color: #7678ED;
    border: 2px solid #7678ED;
}

.delete-btn:hover {
    background-color: #fff;
    border: 2px solid #a12727;
    color: #a12727;
}

@media(max-width:523px) {
    body {
        text-align: center;
    }

    .site-div {
        grid-template-columns: 1fr;
        height: 150px;
    }

    form input {
        width: 98%;
    }
}